* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 24px;
  --background-color-primary: #0c0a09;
  --background-color-secondary: #1c1917;
  --background-color-tertiary: #292524;
  --background-color-quaternary: #44403c;
  --button-color: cyan;
  --primary-color: white;
  --error-primary: #b91c1c;
  --error-secondary: #dc2626;

  color: var(--primary-color);


}


body {
  height: 100svh;
  width: 100%;
  background-color: var(--background-color-primary);
}

.container {
  margin: 24px auto;
  max-width: 700px;
  height: 90%;

  display: flex;
  flex-direction: column;
}

.past-results {
  border: none;
  background-color: var(--background-color-tertiary);
  border-radius: 10px 10px 0 0;
  height: 100%;
  outline: none;
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow-y: scroll;
  overflow-x: hidden;

}

.calculate {
  background-color: var(--background-color-secondary);
  border: 0;
  height: 10%;
  outline: none;
  padding: 10px 0 0 16px;

}

.error-message {
  height: 44px;
  font-size: 16px;
  background-color: var(--background-color-secondary);
  border-radius: 0 0 10px 10px;
  margin: 0 0 10px 0;
  padding: 0 0 4px 10px;
  color: var(--error-secondary);


}

.keyboard {
  background-color: var(--background-color-primary);
  height: fit-content;
  display: flex;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.btn {
  padding: 10px 0;
  background-color: var(--background-color-secondary);
  border: 2px solid var(--background-color-primary);
  border-radius: 10px;
  flex: 1 0 0;
}

.btn:hover {
  background-color: var(--background-color-quaternary);


}

.btn:focus {
  outline: none;
}

.number {
  background-color: var(--background-color-tertiary);

}

.result-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 4px;
  /* background-color: red; */
  background-color: var(--background-color-secondary);
}

.operation {
  width: 50%;
}

.assingment {
  width: 10%;
}

.result {
  width: 40%;

}
